# Core dependencies
torch
torchvision
numpy
pandas
scikit-learn  
matplotlib  
ta
seaborn

# FastAPI & API dependencies
fastapi
uvicorn
python-multipart

# Data processing
requests   
tqdm
yfinance

# Deployment & Serialization
joblib
pydantic 

# Hugging Face Model Upload (Optional)
huggingface_hub

# If using Jupyter Notebooks
ipython
notebook

# Additional dependencies
python-dotenv

# Streamlit frontend dependencies
streamlit
plotly