# Core dependencies
torch    
torchvision
numpy   
pandas     
scikit-learn  
matplotlib  
ta

# FastAPI & API dependencies
fastapi   
uvicorn  

# Data processing
requests   
tqdm
yfinance

# Deployment & Serialization
joblib
pydantic 

# Hugging Face Model Upload (Optional)
huggingface_hub

# If using Jupyter Notebooks
ipython
notebook